a {
  transition: opacity .4s ease-in-out;
  opacity: 1;
  &:hover {
    opacity: .5;
    text-decoration: none;
    color: inherit;
  }
}

.btn{
  font-family: $body;
}

.btn-secondary{

}

.btn-tertiary {
  background: transparent;
  border: none;
  padding: 0px 20px 0 0;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: $body;
  font-weight: 600;
  background: transparent url('/images/chev-white.png') no-repeat right 11px;
  background-size: 7px;
}

.btn-qu {
  background: transparent;
  border: none;
  padding: 0px; 
  display: block;
  width: 52px;
  height: 52px;

}

.view-more {
  font-family: $body;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 1.88;
}


button[disabled] {
  background: $light-grey;
  cursor: default;
}