.btn{
  font-family: $body;
}

.btn-secondary{

}

.btn-tertiary {
  background: transparent;
  border: none;
  padding: 0px 20px 0 0;
  letter-spacing: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background: transparent url('/images/chev-white.png') no-repeat right 8px;
  background-size: 7px;
}

.btn-qu {
  background: transparent;
  border: none;
  padding: 0px; 
  display: block;
  width: 40px;
  height: 40px;

}

.view-more {
  font-family: $sans;
  font-size: 24px;
  color: #000;
  line-height: 1.88;
}