
@font-face {
    font-family: 'shearman';
    src: url('../fonts/shearmanstd-boldshearmanstd-bold-webfont.woff2') format('woff2'),
         url('../fonts/shearmanstd-boldshearmanstd-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'shearman';
    src: url('../fonts/shearmanstdbld-regularshearmanstdbld-regular-webfont.woff2') format('woff2'),
         url('../fonts/shearmanstdbld-regularshearmanstdbld-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}