
@font-face {
    font-family: 'shearman';
    src: url('../fonts/shearmanstd-boldshearmanstd-bold-webfont.woff2') format('woff2'),
         url('../fonts/shearmanstd-boldshearmanstd-bold-webfont.woff') format('woff');
    font-style: normal;
}

