input {
    border: none;
    border-bottom: 2px solid #000;
}

form {
    button {
        background: #000;
        color: #fff;
    }
}

.email-signup {
    label {
        font-size: 12px;
        font-weight: 400;
    }
    .input-group {
        width: 100%;
        margin-bottom: 40px;
        input[type="text"],
        input[type="email"]{
            width: 100%;
        }
        button {
            position: absolute;
            right: 0;
            bottom: 0;
            border: 0px;
        }
    }
    input[type="text"],
    input[type="email"]{
        background: transparent;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-weight: 600;
            color: $light-grey;
        }
    }
    button {
        padding: 10px 15px;
        line-height: 1em;
        font-weight: 600;
    }
    input[type="checkbox"]{
        border-radius: 0px;
        border: 1px solid #000;
    }
}


.checkbox-alias {
    position: relative;

    label {
        padding-left: 40px;
        &:before {
            content: ' ';
          width: 20px;
          height: 20px;
          top: 0;
          left: 0;
          position: absolute;
          line-height: 1.2em;
          border-radius: 4px;
          border: 1px solid #000;
        }
        &:after {
            content: '';
              width: 11px;
              height: 6px;
              position: absolute;
              top: 6px;
              left: 5px;
              border: 3px solid #fff;
              border-top: none;
              border-right: none;
              background: transparent;
              opacity: 0;
              transform: rotate(-45deg);
        }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
      z-index: 9;
      width: 100%;
      &:checked + label:after {
        opacity: 1;
      }    
    }
     
}