.header-component{
  font-family: $sans;
  height: 116px;
  margin: 0 auto;
  //max-width: $contentmaxwidth;
}

.brand-logo {
  display: block;
  width: 100px;
  position: fixed;
  z-index: 3;
  top: 40px;
  left: $gutter;
  svg {
    width: 100%;
  }
}

.brand-logo-black {
  display: block;
  width: 100px;
  position: absolute;
  z-index: 4;
  left: $gutter;
  margin-top: 40px;
  opacity: 0;
  svg {
    width: 100%;
  }
}


.mask-logo-blk {
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.stackt-logo {
  fill:#fff;}

.stackt-logo-black {
  fill:#000; }