.header-component{
  font-family: $sans;
  height: 116px;
  margin: 0 auto;
  //max-width: $contentmaxwidth;
}

.brand-logo {
  max-width: $contentmaxwidth;
  width: 100%;
  margin: 0 auto;
  display: block;
  position: fixed;
  z-index: 3; 
  left: 50%;
  transform: translate(-50%,0);
  @include breakpoint(large) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  a {
    width: 100px;
    top: 40px;
    display: block;
    position: fixed;
    @include breakpoint(small){
      width: 70px; 
    }
    svg {
      width: 100%;
    }
  }
}



.brand-logo-black {
  max-width: $contentmaxwidth;
  width: 100%;
  margin: 0 auto;
  display: block;
  position: fixed;
  top: 0;
  z-index: 4;
  left: 50%;
  transform: translate(-50%,0);
  @include breakpoint(large) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  a {  
    width: 100px;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    left: 0;

    @include breakpoint(small){
      width: 70px; 
    }
    svg {
      width: 100%;
    }
  }

}

.brand-logo,
.brand-logo-black {
}

.brand-logo-black {
  &.show {
    position: absolute;
  }
} 

.mask-logo-blk {
  position: relative;
  z-index: 4;
  width: 100%;
  .mask-fixed {
    position: relative;
    width: 100%;
    clip: rect(0, auto, auto, 0);
  }
}

.stackt-logo {
  fill:#fff;}

.stackt-logo-black {
  fill:#000; }