
.site-wrapper {
	max-width: $contentmaxwidth;
	margin: 0 auto;
	background-color: #fff;
}

.wrapper {
	@extend .clearfix;
	margin: 0 auto;
	overflow-x: hidden;
}

.spacing-container{
	max-width: $contentmaxwidth;
	margin: 0 auto;
  	padding: 60px 0;
}

.center-container {
	margin: 0 auto;
	max-width: $contentmaxwidth;
}

.gutter-container{
	max-width: $contentmaxwidth;
  	padding: 50px $gutter 0;
  	margin: 0 auto;
}

@include breakpoint(large) {
	.gutter {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}


@include breakpoint(large) {
	.inner-gutter-container {
		padding: 0 $gutter;
	}
}

section {
	position: relative;
	z-index: 2;
	h3 {
		margin-bottom: 60px;
		line-height: 1em;
	}
	&.blk-logo {
		position: relative;
		z-index: 2;
	}
}
