.color-aqua,
a.color-aqua {
	color: $aqua;
}

.color-brown,
a.color-brown {
	color: $brown;
}

.color-purple,
a.color-purple {
	color: $purple;
}

.color-pink,
a.color-pink {
	color: $pink;	
}

.color-mustard,
a.color-mustard {
	color: $mustard;	
}

.color-green,
a.color-green {
	color: $green;	
}


.color-red,
a.color-red {
	color: $red;	
}

.bg-purple {
	background: $purple;
}

.bg-teal {
	background: $teal;
}

.bg-grey {
	background: $grey;
}

.tag {
	font-weight: 600;
	font-size: 18px;
	display: inline-block;
	padding: 10px 20px;
	line-height: 1em;
	&.color-green {
		border: 1px solid $green;
	}
}

.flt-right {
	float: right;
}

.slash-blk-after {
	overflow: visible;
	&:after {
		content: ' ';
		display: block;
		position: absolute;
		right: 30px;
		top: 0;
		height: 100%;
		border-right: 1px solid #000;
		transform: rotate(18deg);
	}
}