/* Sizes */
$pagewidth: 1440px;
$contentwidth: 1180px;
$contentmaxwidth: 1440px;
$gutter: 8.333%;

/* Colors */
$hero_overlay: #01346B;
$hero_grey: #001A35;
$ak_black: #2c2c2c;
$light-grey: #979797;
$topaz: #00feb9;
$blue: #55668D;
$red: #ff0605;
$white: #fff;
$black: #292d34;
$grey: #2b2b2b;
$aqua: #007c8e;
$brown: #a26b12;
$purple: #8637cd;
$teal: #00feb9;
$pink: #ff00ff;
$mustard: #ffa105;
$green: #00a4a6;
$vendor: #00a4a6;


/* Fonts */
$serif: "museo-slab", Times, serif;
$sans: "shearman",helvetica,sans-serif;
$body: "helvetica neue",helvetica,sans-serif;
