.owl-carousel.carousel-theme {
    .owl-nav {
        position: absolute;
        bottom: $gutter;
        left: $gutter;
    }
    .hero-component .video-controls {
        left: auto;
        right: $gutter;
    }
    .owl-nav {
        max-width: $contentmaxwidth;
        width: 100%;
        margin: 0 auto;
        display: block;
        z-index: 3; 
        left: 50%;
        transform: translate(-50%,0);
        @include breakpoint(large) {
            padding-left: $gutter;
            padding-right: $gutter;
          }
        .owl-prev {
            background: transparent url(../images/chev.png) no-repeat 10px 0;
            background-size: 20px;
            transform: rotate(180deg);
            width: 40px;
            height: 40px;
            border: none;
            display: inline;
            transition: opacity .4s ease-in-out;
            opacity: 1;
            &:hover {
                opacity: .5;
            }
        }
        .owl-next {
            background: transparent url(../images/chev.png) no-repeat 10px 7px;
            background-size: 20px;
            width: 40px;
            height: 40px;
            display: inline;
            margin-left: 20px;
            transition: opacity .4s ease-in-out;
            opacity: 1;
            &:hover {
                opacity: .5;
            }
        }
    }
    .owl-dots {
        position: absolute;
        bottom: $gutter;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 4;
        button.owl-dot {
            background: transparent;
            display: inline;
            position: relative;
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 20px;
                bottom: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $light-grey;
            }
            &.active,
            &:hover {
                &:before {
                    background: $topaz;
                }
            }
        }
    }
}
