.stackt-discover {
    
    background: linear-gradient(
            to right, 
            $teal 0%, 
            $teal 50%, 
            $grey 50%, 
            $grey 100%
        );
        height: 100%;
        width: 100%;
    .block {
        height: 450px;
        h2{
            font-family: $sans;
        }
        
        h3 {
            font-family: $sans;
        }
        &.discover-block {
            color: #fff;
            
            h3 {
                margin-bottom: 20px;
                font-size: 34px;
            }
            p {
              font-size: 24px;
              font-weight: 400;
            }
            .content-container {
                padding: 60px 0; 
            }
            .email-signup  {
                margin-top: 60px;
            }
            
        }
        &.collaborate-block {
            a {
                color: #000;
                &:hover {
                    text-decoration: none;
                }
            }
            h2 {
                line-height: 58px;
            }
            .content-container {
                padding-bottom: 60px; 
                position: absolute;
                left: 15px;
                bottom: 0;
                padding-left: 0;
                margin-left: 0;
                @include breakpoint(lg) {
                    left: auto;
                    right: 0;
                    padding-left: 15px;
                }
            }
            
        }
       
    }
    .email-signup {
        .input-group {
            input[type="text"],
            input[type="email"]{
                color: #fff;
            }
            button {
                color: #000;
                background: $teal;
            }
            .msg {
                position: absolute;
                display: none;
                font-size: 12px;
            }
            &.error {
                input[type="email"]{
                    border-bottom: 2px solid $red;
                }
                .msg {
                    display: block;
                    color: $red;
                }
            }
            &.valid input[type="email"]{
                border-bottom: 2px solid $teal;
            }
        }
        input[type="text"],
        input[type="email"]{
            border-bottom: 2px solid #fff;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #fff;
            }
        }
        input[type="checkbox"]{
            border: 1px solid #fff;
        }
        label {
            &:before {
                    border: 2px solid #fff;
            }
            &:after {
                    border: 3px solid #fff;
                    background: #fff;
                    transform: rotate(-45deg);
            }
        }
    }
}


@include breakpoint(small-medium) {
    .stackt-discover {
        background: transparent;
        .block {
            height: auto;
            min-height: 450px;
             &.discover-block {
                background: $grey;
                .content-container {
                    float: none;
                }
            }
            &.collaborate-block {
                background: $teal;
                display: flex;
                justify-content: flex-end;
                .content-container {
                    display: flex;
                    flex-direction: column; 
                    float: none;
                    padding-left: 0px;
                    margin-left: auto;
                    left: auto;
                }
            }
        }
    }
}