.stackt-events {
    h4 {
        font-family: $body;
        color: $pink;
        font-size: 36px;
        line-height: 1.1;
    }
    h5 {
        font-family: $body;
        font-size: 42px;
        margin-bottom: 15px;
        line-height: 1.06;
    }
    p {
        font-size: 30px;
    }
    .coming-soon {
        min-width: 240px;
        height: 180px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .in-the-know.slash-blk-after {
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-block {
        a {

            display: inline-block;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .events-container .row {
        display: flex;
        align-items: center;
        @include breakpoint(small) {
            display: block;
            .coming-soon {
                height: 120px;
                margin-bottom: 0px;

                h4 {
                    font-size: 42px;
                    margin-bottom: 0px;
                }
            }
            .in-the-know {
                height: auto;
            }
        }
    }
    @include breakpoint(small-medium) {
        .events-container {
            .coming-soon {
                width: 280px;
                padding-top: 15px;
                padding-bottom: 15px;
                margin: 0 0 40px;
                h4 {
                    margin-bottom: 15px;
                }
            }
            .in-the-know.slash-blk-after {
                margin-bottom: 40px;
                &:after {
                    content: none;
                }
            }
            p {
                font-size: 24px;
            }
            
        }
    }
    .email-signup {
        .input-group {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-grow: 2;
            flex-direction: row;

            input {
                display: inline-block;
                width: 100%;
            }
            button {
                display: inline-block;
            }
            @include breakpoint(small-medium) {
                display: block;
                input {
                    margin: 0 0 40px 0;
                    width: 100%;
                    float: none;
                }
                button {
                    display: block;
                    float: none;
                    width: 100%;
                    margin-top: 0px;
                    padding: 20px 0;
                    position: relative;
                }
            }
        }
        .checkbox-alias {
            margin-top: 30px;
        }
    }
}