.stackt-events {
    h4 {
        font-size: 49px;
    }
    h5 {
        font-family: $body;
        font-size: 42px;
    }
    p {
        font-size: 30px;
    }
    .email-signup {
        .input-group {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-grow: 2;
            flex-direction: row;
            input {
                display: inline-block;
                width: 100%;
            }
            button {
                display: inline-block;
            }
        }
        .checkbox-alias {
            margin-top: 30px;
        }
    }
}