

.stackt-hero {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    .owl-carousel {
        height: 100vh;
    }
    .owl-dots {
        counter-reset: dots;
        position: absolute;
        top: 50%;
        pointer-events:none; 
        transform:translateY(-50%);
        transition: opacity .4s ease-in-out;
        opacity: 1;
        max-width: $contentmaxwidth;
        width: 100%;
        margin: 0 auto;
        z-index: 1;
        left: 50%;
        transform: translate(-50%,0);
        @include breakpoint(large) {
            padding-left: $gutter;
            padding-right: $gutter;
        }
    }
    .owl-dot {
        background: transparent;
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        pointer-events:auto;
        text-align: left;
        &:before {
            counter-increment:dots;
            content: counter(dots);
        }
        &.active {
            color: $topaz;
        }
    }
    h4 {
        line-height: 34px;
    }
    .close-x {
        position: absolute;
        z-index: 4;
        right: $gutter;
        top: $gutter;
        transition: opacity .4s ease-in-out;
        opacity: 0;
        &:hover {

        }
    }

}

.blur-active {
    .close-x {
        opacity: 1;
    }
}

.discover-active {
    .owl-dots {
        opacity: 0;
    }
    
    .owl-item.active .hero-component .hero-text-container,
    .owl-item .hero-text-container {
        opacity: 0;
    }
    + .hero-tag {
         opacity: 0;
    }
    .hero-component .hero-image-container {
        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(#000,.2);
        }
    }
}

.hero-tag {
    position: absolute;
    color: #fff;
    bottom: $gutter;
    text-align: right;
    width: 100px;
    transition: opacity .4s ease-in-out;
    opacity: 1;
    max-width: $contentmaxwidth;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%,0);
    @include breakpoint(large) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
    h4 {
        line-height: 1.11;

    }
}

.hero-component {
    background: #000;
    width: 100%;
    height: 100vh;
	position: relative;
	display: flex;
	align-items: center; 
	justify-content: center;
	overflow: hidden; 
    .hero-image-container {
        z-index: 0;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	    display: flex;
    	justify-content: center;
        img,
        video {
            width: 100%;
			height: 100vh; 
			object-fit: cover;
			object-position: top center;
			position: absolute;
        }
        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: background .4s ease-in-out;
            background: rgba(#000,0);
        }
	}
    .hero-text-container {
        color: #fff;
        position: absolute;
		z-index: 2;
		left: $gutter*3;
		opacity: 1;
		width: 570px;
        color: #fff;
        transition: opacity .4s ease-in-out;
        opacity: 1;

        h2 {
            margin-bottom: 40px;
            font-size: 80px;
            line-height: 0.95;
        }
    }
    .hero-discover-container {
        position: absolute;
        z-index: 3;
        color: #fff;
        width: 100%;
        max-width: $contentmaxwidth;
        .row {
            display: flex;
            align-items: flex-end;
        }
        .text-container {

        }
        .image-container {
            display: block;
            padding-bottom: 60%;
            overflow: hidden;
            position: relative;
            img {
                position: absolute;
            }
        }
        a {
            color: #fff;
        }
         @include breakpoint(large) {
                padding-left: $gutter;
                padding-right: $gutter;
              }
        
    }
    .video-controls {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        z-index: 2;
        bottom: $gutter;
        max-width: $contentmaxwidth;
        width: 100%;
        margin: 0 auto;
        z-index: 1;
        left: 50%;
        transform: translate(-50%,0);
        @include breakpoint(large) {
            padding-left: $gutter;
            padding-right: $gutter;
        }
        .icon-play {
            display: none;
        }
        &.paused {
            .icon-play {
                display: block;
            }
            .icon-pause {
                display: none;
            }
        }
    }
}

.owl-item {
    .hero-component {
        .hero-text-container {
            transition: all .4s ease-in-out;
            opacity: 0;
        }
    }
}

.owl-item.active {
    .hero-component {
        .hero-text-container {
            transition: all .4s ease-in-out;
            opacity: 1;
        }
    }
}


@include breakpoint(small){
    .stackt-hero {
        .hero-component {
            .hero-text-container {
                width: 80%;
                left: $gutter;
                h2 {
                    font-size: 40px;
                }
            }

        }
        .owl-dots {
            top: auto;
            bottom: 15px;
            width: 70%;
            button.owl-dot {
                display: inline-block;
            }
        }
        .hero-tag {
            display: none;
        }
        .video-controls {
            bottom: 30px;
        }
        .hero-discover-container {
            top: 0;
            padding-left: 0;
            padding-right: 0;
            .image-container {
                padding-bottom: 70%;
                img {
                    width: 100%;
                }
            }
            .text-container {
                padding: $gutter;
            }
            .row {
                display: flex;
                flex-direction: column;
                flex-direction: column-reverse; 
            }
        }
    }
}

